[submodule "ClassroomExamples/ClassroomExamples/Spring-2019/CIST1300-001"]
	path = ClassroomExamples/ClassroomExamples/Spring-2019/CIST1300-001
	url = git@gitlab.com:sriramsrinivas/cist1300-in-class-example.git
