[submodule "ClassroomExamples/ClassroomExamples/Spring-2019/CIST1300-001"]
	path = ClassroomExamples/ClassroomExamples/Spring-2019/CIST1300-001
	url = https://gitlab.com/sriramsrinivas/CIST1300-001.git
