#navDiv{
	background-color: red;
}
#image
{
	font-size: 100%;

}
#contentDiv{
	font-size:100%;
	font-family:courier;
	color: blue; 
}
#h1id
{
	background-color: red;
}
.para{
	border: 1px solid red ;
	font-size: 3vw;
}

.CIST1300
{
border: 1px solid orange;

}
#contentLeftDiv{
	width: 50%;
	float:left;
	height: auto;
}
#contentRightDiv
{
	width: 50%;
	float: right;
	height: auto;
}